
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 95%;
    margin-bottom: 1%;
  }

.calc {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
    background-color: #f3f2ef;
    border: 1px solid black;
    width: 200px;
    height: 55px; 
    
}

h1 {
    color: red;
    display: flex;
    justify-content: center;
    align-content: center;
}

button {
    width: 50px;
    height: 50px;
}

.clear button{
  width: 500px;
  height: 50px;
}

.footer {
  display: inline;
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  opacity: 0.2;  
  justify-content: center;
}
